<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Structured Query Language</li>
    <li>R</li>
    <li>Python</li>
    </ol>

<b>Objectives:</b>
    <ul>
    <li>Listing of languages used for data science</li>
    <li>Listing of libraries used for data science</li>
    <li>How to format text using html tags</li>
    <li>How to create a table in jupiter notebook</li>
    </ul>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Numpy</li>
    <li>Seaborn</li>
    <li>Keras</li>
</ol>

|Data Science Tools|
|:--|
|Jupyter Notebook|
|Apache Zeppelin|
|R Studio

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author</h2>
Nicholas Elikem